name: CI 테스트 자동화

on:
  push:
    branches:
      - main
      - dev
    paths: 'src/**'
  pull_request:
    branches:
      - main
      - dev
    paths: 'src/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: 리포지토리를 가져옵니다
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.SUBMODULE_TOKEN }}
          submodules: recursive

      - name: JDK 21을 설치합니다
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: PostgreSQL DB 컨테이너를 실행합니다 (Docker Compose)
        uses: docker/compose-action@v3
        with:
          file: docker-compose.yml
          up: true

      - name: DB 서비스 시작 대기
        run: sleep 10

      - name: Gradle 명령 실행을 위한 권한을 부여합니다
        run: chmod +x gradlew

      - name: Gradle build를 수행합니다
        run: ./gradlew build

      - name: 테스트 결과를 PR에 코멘트로 등록합니다
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: '**/build/test-results/test/TEST-*.xml'

      - name: 테스트 실패 시, 실패한 코드 라인에 Check 코멘트를 등록합니다
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          token: ${{ github.token }}